
{% extends 'home/base.html' %}
{% load static %}
{% block title %}SKill{% endblock title %}
<!-- Skill section -->
 {% block home %}
 <section class='skillbody'>
 <div class="card-wrap">
    <div class="card-header one">
      <i class="fab fa-html5" style="font-size: 50px; color: #fff;"></i>
    </div>
    <div class="card-content">
      <h1 class="card-title">HTML5</h1>
   </div>
  </div>
  <div class="card-wrap">
    <div class="card-header two">
      <i class="fab fa-css3-alt" style="font-size: 50px; color: #fff;"></i>
    </div>
    <div class="card-content">
      <h1 class="card-title">CSS3</h1>
   </div>
  </div>
  <div class="card-wrap">
    <div class="card-header three">
      <i class="fa-brands fa-bootstrap" style="font-size: 50px; color: #fff;"></i>
    </div>
    <div class="card-content">
      <h1 class="card-title">Bootstrap</h1>
   </div>
  </div>
  <div class="card-wrap">
    <div class="card-header four">
      <i class="fab fa-js-square" style="font-size: 50px; color: #fff;"></i>
    </div>
    <div class="card-content">
      <h1 class="card-title">JavaScript</h1>
   </div>
  </div>

  <div class="card-wrap">
    <div class="card-header four">
       <i class="fa-brands fa-python" style="font-size: 50px;color: #fff;"></i>
    </div>
    <div class="card-content">
      <h1 class="card-title">Python</h1>
   </div>
  </div>

  <div class="card-wrap">
    <div class="card-header three">
      <i class="fa-brands fa-angular" style="font-size: 50px;color: #fff;"></i>
    </div>
    <div class="card-content">
      <h1 class="card-title">Angular</h1>
   </div>
  </div>

  <div class="card-wrap">
    <div class="card-header two">
      <i class="fa-brands fa-node" style="font-size: 50px; color: #fff;"></i>
    </div>
    <div class="card-content">
      <h1 class="card-title">Nodejs</h1>
   </div>
  </div>

  <div class="card-wrap">
    <div class="card-header one">
      <i class="fa-solid fa-database" style="font-size: 50px; color: #fff;"></i>
    </div>
    <div class="card-content">
      <h1 class="card-title">MySQL</h1>
   </div>
  </div>

  <div class="card-wrap">
    <div class="card-header one">
       <i class="fa-brands fa-python" style="font-size: 50px;color: #fff;"></i>
    </div>
    <div class="card-content">
      <h1 class="card-title">Django</h1>
   </div>
  </div>

  <div class="card-wrap">
    <div class="card-header two">
      <i class="fa-brands fa-angular" style="font-size: 50px;color: #fff;"></i>
    </div>
    <div class="card-content">
      <h1 class="card-title">Title</h1>
   </div>
  </div>

  <div class="card-wrap">
    <div class="card-header three">
      <i class="fa-brands fa-node" style="font-size: 50px; color: #fff;"></i>
    </div>
    <div class="card-content">
      <h1 class="card-title">Title</h1>
   </div>
  </div>

  <div class="card-wrap">
    <div class="card-header four">
      <i class="fa-solid fa-database" style="font-size: 50px; color: #fff;"></i>
    </div>
    <div class="card-content">
      <h1 class="card-title">Title</h1>
   </div>
  </div>
</section>

{% endblock home%}
