{% load static %}
{% load static %}

<section class="first">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'core/images/comp_girl.png' %}" alt="" class="logoimg" style="height: 90px; width: 90px;">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'home1' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'skill1' %}">Skills</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'service1' %}">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about1' %}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact1' %}">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</section>